<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tamieem's Shot Chart Maker</title>
</head>
<body>
    <div class="display">
        <h2>Create a Shot Chart</h2>
        <img src="data:image/png;base64, {{ plot_url }}">
    </div>
    <form action="" method="post">
    <div class="filters" style="margin-top: 10px; margin-bottom:20px;">
        <select name="player" id="select_player" method="GET" action="/" style="width: 250px !important; min-width: 100px; max-width: 500px;">
            {% for player in players_list  %}
                <option value={{ player['id'] }}>{{ player['full_name'] }}</option>
            {% endfor %}
        </select>
        <select name="Season" id="season" method="GET" action="/">
            <option value=1998-99>1998-1999</option>
            <option value=1999-00>1999-2000</option>
            <option value=2000-01>2000-2001</option>
            <option value=2001-02>2001-2002</option>
            <option value=2002-03>2002-2003</option>
            <option value=2003-04>2003-2004</option>
            <option value=2004-05>2004-2005</option>
            <option value=2005-06>2005-2006</option>
            <option value=2006-07>2006-2007</option>
            <option value=2007-08>2007-2008</option>
            <option value=2008-09>2008-2009</option>
            <option value=2009-10>2009-2010</option>
            <option value=2010-11>2010-2011</option>
            <option value=2011-12>2011-2012</option>
            <option value=2012-13>2012-2013</option>
            <option value=2013-14>2013-2014</option>
            <option value=2014-15>2014-2015</option>
            <option value=2015-16>2015-2016</option>
            <option value=2016-17>2016-2017</option>
            <option value=2017-18>2017-2018</option>
            <option value=2018-19>2018-2019</option>
            <option value=2019-20>2019-2020</option>
            <option value=2020-21>2020-2021</option>
            <option value=2021-22 selected>2021-2022</option>
        </select>
        <select name="ContextMeasure" id="context_measure" method="GET" action="/">
            {% for measure in params[0] %}
                <option value="{{ measure }}" selected>{{ measure }}</option>
            {% endfor %}
        </select>
        <select name="SeasonType" id="season_type" method="GET" action="/">
            {% for type in params[1] %}
                <option value="{{ type }}" selected>{{ type }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="View Shot Chart">
    </div>

     <div class="advanced_filters"  style="margin-top:20px; margin-bottom:20px;">
        <h2> Advanced Filters: </h2>
         <select name="ClutchTime" id="clutch_type" method="GET" action="/">
            {% for time in params[2] %}
                <option value="{{ time }}"> {{ time }}</option>
            {% endfor %}
            <option value=" "selected>--In Clutch Time--</option>
        </select>
         <select name="Outcome" id="outcome" method="GET" action="/">
            {% for outcome in params[3] %}
                <option value="{{ outcome }}" selected>{{ outcome }}</option>
            {% endfor %}
            <option value=" " selected>--Game Outcome--</option>
        </select>
        <select name="While" id="ahead_behind" method="GET" action="/">
            {% for param in params[4] %}
                <option value="{{ param }}" selected>{{ param }}</option>
            {% endfor %}
            <option value=" " selected>--Game Scenario--</option>
        </select>
        <select name="OppTeam" id="opp_team" method="GET" action="/">
            {% for team in teams_list %}
                <option value={{ team['id'] }}>{{ team['full_name'] }}</option>
            {% endfor %}
            <option value=0 selected>--Opposing Team--</option>
        </select>
        <select name="Period" id="period" method="GET" action="/">
            {% for period in params[5] %}
                <option value="{{ period }}" selected>{{ period }}</option>
            {%  endfor %}
            <option value="0" selected>--Quarter--</option>
        </select>
        <select name="Month" id= "month" method="GET" action="/">
            <option value='1'>Janaury</option>
            <option value='2'>February</option>
            <option value='3'>March</option>
            <option value='4'>April</option>
            <option value='5'>May</option>
            <option value='6'>June</option>
            <option value='7'>July</option>
            <option value='8'>August</option>
            <option value='9'>September</option>
            <option value='10'>October</option>
            <option value='11'>November</option>
            <option value='12'>December</option>
            <option selected value='0'>--Select Month</option>
        </select>
        <select name="LastNGames" id="last_n_games" method="GET" action="/">
            {% for n in params[7] %}
                <option value="{{ n }}" selected>{{ n }}</option>
            {% endfor %}
            <option value="0" selected>--Last N Games--</option>
        </select>
     </div>
    </form>
</body>
</html>